/*
  Navbar
*/

.navbar-brand {
  padding-top: .25rem;
  padding-bottom: .25rem;
}

.navbar-toggler {
  top: .25rem;
  right: 1rem;
} 

/*
  Sidebar
*/

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  padding: 48px 0 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
  z-index: 100;
}

@media (max-width: 767.98px) {
  .sidebar {
    top: 3rem;
  }
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  overflow-y: auto;
  overflow-x: hidden;
}